.popup {
  position: fixed;
  height: 10%;
  bottom: 3%;
  background-color: white;
  width: 100%;
  display: flex;
  border-top: 1px solid #ccc;
}


.progress-container {
  width: 100%;
  background-color: #ddd;
}

.progress {
  height: 20px;
  background-color: #007bff;
}

.progress-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

button {
  margin-top: 20px;
}

.success-message {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
}