<div style="position: absolute; bottom: 12%; right: 1%;">
    <button (click)="togglePopup()">
        <a href="#">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
        <span *ngIf="isPopupVisible"></span>
        <span *ngIf="!isPopupVisible"></span>
    </button>
</div>
<div *ngIf="isPopupVisible">
    <div *ngIf="popupData">
        <div class="popup">
            <div>
                <img src="../../assets/images/icon.png" alt="progrssBar icon">
            </div>
            <div class="progress-container">
                <div>
                    <div class="progress-container">
                        <div class="progress" [style.width.%]="progressValue"></div>
                        <span class="progress-text">{{ progressValue }}%</span>
                    </div>
                    <button style="position: absolute; bottom: 12%;" (click)="startProgress()">Start Progress</button>
                    <div *ngIf="progressValue === 100" class="success-message">
                        Success! Progress is complete.
                      </div>
                </div>
            </div>  
        </div>
    </div>
</div>