<div class="header">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="../../assets/images/amplelogic-logo_Black.png" alt="company logo" width="125px"
                        height="25px">
                </a>
            </div>
            <ul class="nav navbar-nav">
                <!-- Organization Structure -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-user"></span>
                        Organization Structure<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Page 1-1</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li>

                <!-- Configarations -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-unchecked"></span>
                        Configarations<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Page 1-1</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li>

                <!-- Reports -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-file"></span>
                        Reports<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Page 1-1</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li>

                <!-- ETL -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-wrench"></span>
                        ETL<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Page 1-1</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><img src="../../assets/images/flag.jpeg" alt="company logo" width="40px"
                            height="25px"></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
                <li><a href="#" class="human"><img src="../../assets/images/personpng.png" alt="company logo"
                            width="25px" height="25px" style="border-radius: 50%;">
                    </a></li>
            </ul>

        </div>
    </nav>
</div>

<div class="container">
    <div class="text-center">
        <button type="button" class="btn btn-primary" (click)="openPopup()"
            style="position: fixed; top: 50%;">Start</button>
    </div>
</div>

<div class="footer">
    <!-- <footer class="footer"> -->
    <div class="footer-left">
        <img src="../../assets/images/amplelogic-logo_Black.png" alt="Company Logo" class="company-logo" width="100px">
    </div>
    <div class="footer-center">
        <p>&copy;2010 - 2023 AmpleLogic</p>
    </div>
    <div class="footer-right">
        <p>Version 1.0</p>
    </div>
    <!-- </footer> -->
</div>
